*.der
*.pem
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator/
OPC_UA_Servers/Release1/IJT_OPC_UA_Server_Simulator/Opc.Ua.Di.NodeSet2.xml
OPC_UA_Servers/Release1/IJT_OPC_UA_Server_Simulator/Opc.Ua.Ijt.Tightening.NodeSet2.xml
OPC_UA_Servers/Release1/IJT_OPC_UA_Server_Simulator/Opc.Ua.Machinery.NodeSet2.xml
OPC_UA_Servers/Release1/IJT_OPC_UA_Server_Simulator/Opc.Ua.NodeSet2_1_04.xml
OPC_UA_Servers/Release1/IJT_OPC_UA_Server_Simulator/tighteningapplication.xml
OPC_UA_Servers/Release1/IJT_OPC_UA_Server_Simulator/Usage_IJT_OPC_UA_Server_Simulator.pdf

node_modules
node_modules/
MockCache/
.vscode
*.exe
node_modules/.bin
node_modules/.bin/
Envelope
Envelope/
.vscode
.venv/
venv/
Resources/settings.json
.setup_timestamp


__pycache__/
*.py[cod]

Temp/
OLD/

OPC_UA_Clients/Release2/IJT_Web_Client/log.txt
OPC_UA_Clients/Release2/IJT_Web_Client/Resources/connectionpoints.json
OPC_UA_Clients/Release2/IJT_Web_Client/Javascripts/Views/Envelope/
OPC_UA_Clients/Release2/IJT_Web_Client/Javascripts/Views/Envelope
OPC_UA_Clients/Release2/IJT_Web_Client/Resources/connectionpoints.json
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/Opc.Ua.AMB.NodeSet2.xml
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/Opc.Ua.Di.NodeSet2.xml
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/Opc.Ua.IA.NodeSet2.xml
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/Opc.Ua.Ijt.Base.NodeSet2.xml
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/Opc.Ua.Ijt.Tightening.NodeSet2.xml
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/Opc.Ua.Ijt.Tightening.Server.xml
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/Opc.Ua.Machinery.NodeSet2.xml
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/Opc.Ua.Machinery.Result.NodeSet2.xml
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/Opc.Ua.NodeSet2.xml
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/server_configuration.json
OPC_UA_Servers/Release2/OPC_UA_IJT_Server_Simulator_New_RC_1.01.0/simulated_data.json
