[MASTER]
init-hook='import sys; sys.path.insert(0, ".")'

[MESSAGES CONTROL]
disable=
    import-outside-toplevel,
    wrong-import-position,
    import-error,
    broad-exception-caught,
    unused-argument,
    not-callable,
    invalid-name,
    line-too-long,
    missing-function-docstring,
    disallowed-name,
    too-few-public-methods,
    too-many-public-methods,
    too-many-instance-attributes,
    too-many-statements,
    too-many-branches,
    too-many-return-statements,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    consider-using-with,
    duplicate-code

[FORMAT]
max-line-length=120
max-module-lines=1200
