<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="OPCFoundation.*" />
      <package pattern="BouncyCastle.*" />
      <package pattern="MQTTnet" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="runtime.*" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
