# Python 3.14+ compatible requirements
asyncua>=1.2b1       # First release with explicit Python 3.14 support 
pytz
aiofiles
orjson
cryptography         # Needed because asyncua requires updated crypto stack [2](https://github.com/FreeOpcUa/opcua-client-gui)
pyOpenSSL            # Same reason (dependency bump) [2](https://github.com/FreeOpcUa/opcua-client-gui)