node_modules
node_modules/
node_modules/.bin
node_modules/.bin/
Envelope
Envelope/
.vscode
MockCache/
.venv/
venv/
Resources/settings.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


Temp/

OLD/
